.addon-cadastrapp {
  background-image: url(../../img/icon.png) !important;
}

.gx-featureediting-zoom {
  background-image: url("../images/geosilk/zoom.png") !important;
}

.gx-featureediting-cadastrapp-point {
  background-image: url("../images/silk/bullet_red_add.png") !important;
}

.gx-featureediting-cadastrapp-line {
  background-image: url("../images/geosilk/line_red_add.png") !important;
}

.gx-featureediting-cadastrapp-polygon {
  background-image: url("../images/geosilk/shape_square_red_add.png") !important;
}
.gx-featureediting-cadastrapp-parcelle {
  background-image: url("../images/geosilk/parcelle.png") !important;
}

.gx-featureediting-cadastrapp-demande {
  background-image: url("../images/geosilk/demande.png") !important;
}

.gx-featureediting-delete {
  background-image: url("../images/silk/delete.png") !important;
}

.gx-featureediting-import {
  background-image: url("../images/silk/kml_import.png") !important;
}

.gx-featureediting-export {
  background-image: url("../images/silk/kml_export.png") !important;
}


.displayfieldCenter {
	text-align: center
}
.displayfieldGray {
	color: gray
}
